.app__works {
	flex: 1;
	width: 100%;
	flex-direction: column;
	// z-index: 99999;
}
.appWorkContainer {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
	max-width: 70rem;
	width: 100%;
	max-height: 300px;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border-radius: 0px 15px 15px 0;
	.bgWorkOverlay {
		position: absolute;
		max-height: 300px;
		height: 100%;
		width: 60%;
		right: 0;
		background-color: rgba(13, 61, 218, 0.2);
		opacity: 0.5;
		z-index: 1;
	}
	@media screen and (max-width: 1300px) {
		flex-direction: column;
		max-height: none;
		.hrWork,
		.bgWorkOverlay {
			display: none;
		}
		height: auto;
		padding: 0 1rem;
	}
	.h4Work {
		font-size: 1.65rem;
		margin-bottom: 1rem;
	}
	.pWork {
		text-align: justify;
		font-size: 1.3rem;
		padding-right: 5rem;
		line-height: 1.7;
	}
	.hrWork {
		display: block;
		max-height: 300px;
		height: 100%;
		border: 0;
		border-right: 5px solid var(--secondary-color);
		margin: 1em 0;
		padding: 0;
	}
	@media screen and (max-width: 1300px) {
		flex-direction: column;
		max-height: none;
		.hrWork,
		.bgWorkOverlay {
			display: none;
		}
	}
	img {
		max-width: 32rem;
		max-height: 300px;
		opacity: 1;
		object-fit: cover;
		width: 100%;
		height: 100%;
		z-index: 2;
		@media screen and (max-width: 1300px) {
			max-width: 25rem;
			padding-bottom: 1rem;
		}
	}
	.middleWork {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 2rem 0;
		align-items: flex-start;
		z-index: 2;
		.workActionBtns {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-top: 3rem;
			i {
				margin-left: 0.25rem;
			}
		}
		.leftActionBtns,
		.rightActionBtns {
			display: flex;
			gap: 0.5rem;
			justify-content: center;
			align-items: center;
			@media screen and (max-width: 500px) {
				flex-direction: column;
			}
		}
		a {
			text-decoration: none;
			padding: 1rem 1rem;
			border-radius: 10px;
			text-transform: uppercase;
			font-weight: 600;
			background-color: var(--primary-color);
			color: var(--secondary-color);
		}
		span {
			padding: 0.5rem;
			background-color: var(--lightGray-color);
			font-weight: 600;
			font-size: 0.85rem;
			border-radius: 5px;
		}
		.actionBtnProject {
			background-color: var(--secondary-color);
			color: white;
		}
		@media screen and (max-width: 1300px) {
			.h4Work {
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			.pWork {
				font-size: 0.8rem;
			}
			a {
				padding: 0.5rem 0.5rem;
			}
			span {
				padding: 0.25rem;
				font-size: 0.55rem;
			}
			.middleWork {
				flex: none;
			}
		}
		@media screen and (max-width: 500px) {
			.h4Work {
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			.pWork {
				font-size: 0.8rem;
			}
			a {
				font-size: 0.85rem;
			}
			span {
				padding: 0.25rem;
				font-size: 0.55rem;
			}
			.middleWork {
				flex: none;
			}
		}
	}
}
.app__work-filter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	margin: 4rem 0 2rem;

	.app__work-filter-item {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		background-color: #fff;
		color: #000;
		font-weight: 800;

		cursor: pointer;
		transition: all 0.3s ease;
		margin: 0.5rem;

		&:hover {
			background-color: var(--secondary-color);
			color: #fff;
		}
	}

	.item-active {
		background-color: var(--secondary-color);
		color: #fff;
	}
}

.app__work-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	max-width: 80rem;
	height: 100%;
	h4 {
		text-align: center;
	}
	.app__work-item {
		max-width: 350px;
		max-height: 450px;
		height: 100%;
		flex-direction: column;
		margin: 2rem;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: #fff;
		color: #000;

		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
		}
		.app__work-btn {
			text-decoration: none;
			font-size: 1.25rem;
			color: rgb(49, 59, 172);
			cursor: pointer;
			&:hover {
				color: rgb(49, 59, 200);
			}
		}

		@media screen and (max-width: 300px) {
			width: 100%;
			margin: 1rem;
		}
	}
}

//

.app__work-hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	border-radius: 0.5rem;
	opacity: 0;
	transition: all 0.3s ease;

	div {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;

		margin: 1rem;
		font-family: var(--font-base);
		font-weight: 800;
		cursor: pointer;
		transition: all 0.3s ease;

		svg {
			width: 50%;
			height: 50%;
			color: var(--white-color);
		}
	}
}

.app__work-content {
	padding: 0.5rem;
	width: 100%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	h4 {
		margin-top: 1rem;
		line-height: 1.5;
	}

	.app__work-tag {
		position: absolute;

		padding: 0.5rem 1rem;
		border-radius: 10px;
		background-color: #fff;
		top: -25px;
	}
}
.detailAction {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	color: "#7980c9";
}
.app__projects-btns {
	flex-direction: row;
	margin-top: 1rem;

	div {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: var(--white-color);

		margin: 1rem;
		transition: all 0.3s ease-in-out;

		svg {
			width: 20px;
			height: 20px;
			color: var(--secondary-color);
		}

		&:hover {
			background-color: var(--secondary-color);

			svg {
				color: var(--white-color);
			}
		}
	}
}
